.cardContainer {
  display: flex;
  padding: 8px 16px 24px;
  border: 1px solid #ccc;
  border-left: 5px solid #333E48;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}

.cardText {
  width: 70%;
}

.cardDetails {
  width: 30%;
}

.cardDetails > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}
